{% extends 'homebase.html' %}
{% block content %}
<div class="container">
    <h1>change password</h1>
    {% if validlink %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            {% if form.new_password1.errors %}
            <div class="alert alert-danger">
                {{ form.new_password1.errors }}
            </div>
            {% endif %}
            <label for="id_new_password1">new password:</label><br>
            {{ form.new_password1 }}
        </div>
        <div class="form-group">
            {% if form.new_password2.errors %}
            <div class="alert alert-danger">
                {{ form.new_password2.errors }}
            </div>
            {% endif %}
            <label for="id_new_password2">repeat password:</label><br>
            {{ form.new_password2 }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">confirm change password</button>
        </div>
    </form>
    {% else %}
        <div class="alert alert-danger">
            the link to change password is invalid.<a href="{% url 'password_reset' %}">request password reset</a> again.
        </div>
    {% endif %}
</div>
{% endblock%}
