{% extends 'homebase.html' %}
{% load i18n %}
{% block content %}
<div class="container">
    <h1>{% trans 'change password'|capfirst %}</h1>
    {% if validlink %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            {% if form.new_password1.errors %}
            <div class="alert alert-danger">
                {{ form.new_password1.errors }}
            </div>
            {% endif %}
            <label for="id_new_password1">{% trans 'new password'|capfirst %}:</label><br>
            {{ form.new_password1 }}
        </div>
        <div class="form-group">
            {% if form.new_password2.errors %}
            <div class="alert alert-danger">
                {{ form.new_password2.errors }}
            </div>
            {% endif %}
            <label for="id_new_password2">{% trans 'repeat password'|capfirst %}:</label><br>
            {{ form.new_password2 }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{% trans 'confirm change password' %}</button>
        </div>
    </form>
    {% else %}
        <div class="alert alert-danger">
            {% trans 'the link to change password is invalid'|capfirst %}. <a href="{% url 'password_reset' %}">{% trans 'request password reset'|capfirst %}</a> {% trans 'again' %}.
        </div>
    {% endif %}
</div>
{% endblock%}
