{% extends 'index.html' %}
{% load i18n %}
{% block content %}
<div class="container">
    <h1>{% trans "password reset form"|capfirst %}</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
        <div class="alert alert-danger">
            {{ form.email.errors }}
        </div>
        {% endif %}
        <div class="form-group">
            <label for="id_email">{% trans 'e-mail'|capfirst %}:</label><br>
            {{ form.email }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{% trans 'reset password'|capfirst %}</submit>
        </div>
    </form>
</div>
{% endblock %}