{% extends 'homebase.html' %}
{% block title %}{{ catdata.title }} Products{% endblock %}
{% block description %} {{ catdata.description }} {% endblock %}
{% block keywords %} {{ category.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">{{ catdata.title }} Products </li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				

				<!-- MAIN -->
				<div id="main" class="col-md-9">
					

					
						<!-- row -->
						<div class="row">

                            <div class="col-md-12">
						<div class="order-summary clearfix">
							<div class="section-title">
								<h3 class="title">Product List</h3>
							</div>
							<table class="shopping-cart-table table">
								<thead>
									<tr>
										<th>Product</th>
										<th></th>
										<th class="text-center">Price</th>
										<th class="text-center">Quantity</th>

										<th class="text-right"></th>
									</tr>
								</thead>
								<tbody>

                                {% for product in products %}
									<tr>
										<td class="thumb"><a href="/product/{{product.id}}/{{product.slug}} ">
                                            <img src="{{ product.image.url }}" alt="" style="height: 100px">
                                        </a></td>
										<td class="details"> <a href="/product/{{product.id}}/{{product.slug}}">{{ product.title }}</a>	</td>
										<td class="total text-center"><strong class="primary">€{{product.price}} </strong></td>
										<td class="qty text-center"><input class="input" type="number" value="1"></td>
										<td class="text-right"><a href="/order/addtoshopcart/{{product.id}}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</a></td>
									</tr>
                                    {% endfor %}

								</tbody>

							</table>

						</div>

					</div>

						</div>
						<!-- /row -->
					

					
				</div>
				<!-- /MAIN -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock %}