{% extends 'homebase.html' %}
{% block title %}Contact Us{{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
          <ul class="breadcrumb">
            <li>
              <a href="{% url 'e_shop' %}">Home</a>
            </li>
            <li class="active">Contact Page</li>
          </ul>
        </div>
      </div>
      <!-- /BREADCRUMB -->
      <!-- section -->
      <div class="section">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">
            <div class="col-md-4">
              <div class="shiping-methods">
                <div class="section-title">
                  <h3 class="title">Contact Information</h3>
                </div>
                <div>
                  {{ setting.contact|safe }}
                </div>
              </div>
              <!-- /row -->
            </div>
            <!-- /container -->
          </div>
          <!-- /section --> 
          {% endblock %}