{% load static %}
{% load i18n %}
	<!-- HOME -->
	<div id="home">
		<!-- container -->
		<div class="container">
			<!-- home wrap -->
			<div class="home-wrap">
				<!-- home slick -->
				<div id="home-slick">

                    {% for product in products_slider %}
                    <!-- banner -->
					<div class="banner banner-1">
						<img src="{{ product.image.url }}" alt="" style="height: 600px">
						<div class="banner-caption text-center">
							<h1>{{ product.title }}   </h1>  
							<a href="/product/{{product.id}}/{{product.slug}}" class="primary-btn">{% trans "Shop Now"|capfirst %}</a>

						</div>
					</div>
					<!-- /banner -->
                    {% endfor %}

				</div>
				<!-- /home slick -->
			</div>
			<!-- /home wrap -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOME -->