{% extends 'index.html' %}
{% load static i18n %}
{% block content %}
<div class="container">
    <img class="rounded-circle account-img img-fluid" src="{{ user.profile.picture.url }}">
    <div>
        <h2 class="account-heading">{{ user.username }}</h2>
        {% if user.first_name or user.last_name %}
            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
        {% endif %}
        {% if user.is_authenticated %}
            <p class="text-secondary">{{ user.email }}</p>
            <p class="text-secondary"><a href="{% url 'profile-update' %}">{% trans "update Profile"|capfirst %}</a></p>
        {% endif %}
    </div>
</div>
{% endblock content %}
