{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p>Login error, please try again!</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>You do not have access to this information. You must log in.</p>
    {% endif %}
  {% endif %}
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>Username: </td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>Password: </td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
  
{% endblock %}